<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Setting Name="NUnitConsole" Value="c:\dev\ATTM_Client\NUnit.Console-3.15.2\bin\net6.0\"></Setting>
  <Setting Name="DevTestProjectDLL" Value="c:\dev\ATTM_Client\DevelopFolder\TestProject.dll"></Setting>
  <Setting Name="DevTestProjectFolder" Value="c:\dev\ATTM_Client\DevelopFolder\"></Setting>
  <Setting Name="RegressionTestProjectDLL" Value="c:\dev\ATTM_Client\RegressionFolder\TestProject.dll"></Setting>
  <Setting Name="RegressionTestProjectFolder" Value="c:\dev\ATTM_Client\RegressionFolder\"></Setting>
  <Setting Name="ClientName" Value="Tindecken"></Setting>
  <Setting Name="MongoDBConnectionString" Value="mongodb://localhost:27017"></Setting>
  <Setting Name="MongoDBDatabaseName" Value="ATTM_DB"></Setting>
  <Setting Name="DevQueueCollection" Value="DevQueues"></Setting>
  <Setting Name="RegressionQueueCollection" Value="RegressionTests"></Setting>
  <Setting Name="RegressionName" Value="QA_Demo_8"></Setting>
  <Setting Name="HubConnection" Value="http://localhost:5000/monitoring"></Setting>
</Settings>